<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>

<div class="container">
	<div class="row">
	<h2 style="text-align:center">选择岗位</h2>

<div>
    <% @jobs.each do |job| %>

<div class="col-md-4 col-sm-4 col-xs-12">
<div class="columns">
  <blockquote class="quote-box">
  <ul class="name">
    <li class="header"><%= link_to(job.title, job_path(job)) %> </li>
    <li class="highlight"><%= job.description %></li>
    <li class="highlight">薪酬下限：￥<%= job.wage_lower_bound %></li>
    <li class="highlight">薪酬上限：￥<%= job.wage_upper_bound %></li>
    <li class="highlight">创建时间：<%= job.created_at %></li>
    <li class="grey"><%= link_to("查看详情", job_path(job)) %></li>
  </ul>
  </blockquote>
</div>
</div>
<% end %>
</div>
