<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>
<h2 style="text-align:center">选择岗位</h2>

<% @jobs.each do |job| %>

<div class="col-md-4 col-xs-12">
<div class="columns">
  <ul class="text-center panel panel-info panel-pricing list-group">
    <li class="panel-heading"><i class="fa fa-desktop"></i><h3><%= link_to(job.title, job_path(job)) %></h3></li>
    <li class="panel-body"><%= job.description %></li>
    <li class="highlight">薪酬范围：￥<%= job.wage_lower_bound %>-<%= job.wage_upper_bound %></li>
    <li class="highlight">创建时间：<%= local_time(job.created_at, '%B %e, %Y %l:%M%p') %></li>
    <li class="panel-footer grey btn btn-default btn-info"><%= link_to("查看详情", job_path(job)) %></li>
  </ul>
</div>
</div>
<% end %>
<div class="text-center col-md-12">
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
<div class="row"></div>
