<div id="wrapper" class="active">
    <!-- Sidebar -->
            <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="logo">
          <img src='<%= image_url 'logo.png' %>' class="img-responsive center-block" alt="Logo">
        </div>
        <div id="sidebar_menu" class="sidebar-nav">
           <div class="sidebar-brand text-center"><%= link_to("后台管理", admin_jobs_path) %></div>
        </div>
        <ul class="sidebar-nav " id="sidebar">
          <li><%= link_to("首页", root_path, :class => "btn btn-info fa fa-home" ) %></li>
          <li><%= link_to("新增岗位", new_admin_job_path, :class => "btn btn-success fa fa-plus" ) %></li>
          <li><%= link_to("马上应征", jobs_path, :class => "btn btn-danger fa fa-handshake-o" ) %></li>
          <li><%= link_to("登出", destroy_user_session_path, :class => "btn btn-warning fa fa-sign-out",method: :delete) %></li>
        </ul>
      </div>

      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="tbl-header">
                  <table class="table-striped">
                    <thead>
                      <tr>
                          <td>
                              职缺
                          </td>

                          <td>
                            收到履历数量
                          </td>
                          <td>
                              薪资范围
                          </td>
                          <td>
                              管理选项
                          </td>
                          <td>
                              刊登时间
                          </td>
                      </tr>
                    </thead>
                    <tbody>
                      <% @jobs.each do |job| %>
                      <tr>
                        <td>
                          <%= render_job_status(job) %>

                          <%= link_to(job.title, admin_job_path(job)) %>
                        </td>
                        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
                        <td> ¥ <%= job.wage_lower_bound %>-<%= job.wage_upper_bound %>  </td>
                        <td>
                          <%= link_to edit_admin_job_path(job), class: "btn btn-xs btn-info " do %><i class="fa fa-pencil-square-o"></i><% end %>
                          <%= link_to admin_job_path(job), :method => :delete, :class => "btn btn-xs  btn-danger", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash-o"></i><% end %>
                          <% if job.is_hidden %>
                            <%= link_to publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success" do %><i class="fa fa-eye"></i><% end %>
                          <% else %>
                            <%= link_to hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning" do %><i class="fa fa-eye-slash"></i><% end %>
                          <% end %>
                        </td>
                        <td>
                          <%= job.created_at.to_date %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                </div> <!-- fim div da esquerda -->
          </div>
        </div>
    </div>

</div>
